.notification-message {
  background-color: #bdbdbd;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 60%;
}

#error {
  color: #a20101;
  border: 1px solid #a20101;
}

#success {
  color: #005a00;
  border: 1px solid #005a00;
}

.blog {
  width: 60%;
  margin: auto;
}

/* body {
  width: 60%;
  margin: auto;
} */

/* .site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
} */